In [49]:
import pandas as pd

In [50]:
data1 = pd.read_csv('./miml_iaa.csv')

In [51]:
data1.head()

,동진,치영,설아,보림,재윤
0,anm:enemy,anm:enemy,anm:enemy,anm:enemy,anm:enemy
1,no_relation,no_relation,anm:origin,no_relation,no_relation
2,anm:number_of_members,anm:number_of_members,anm:number_of_members,anm:number_of_members,anm:number_of_members
3,org:sub_group,org:sub_group,org:sub_group,org:sub_group,org:sub_group
4,anm:origin,anm:origin,anm:origin,anm:origin,anm:origin

In [52]:
re_list = ["no_relation", "anm:habitat", "anm:alternate_name", "anm:physical", "anm:habit", "anm:enemy", "anm:role", "anm:origin", "anm:number_of_members","org:sub_group"]
num = list(range(10))

In [53]:
data = dict(zip(re_list, num))

In [54]:
print(data)

{'no_relation': 0, 'anm:habitat': 1, 'anm:alternate_name': 2, 'anm:physical': 3, 'anm:habit': 4, 'anm:enemy': 5, 'anm:role': 6, 'anm:origin': 7, 'anm:number_of_members': 8, 'org:sub_group': 9}

In [55]:
data1 = data1[{"동진","치영","설아","보림","재윤"}].replace(data)
data1 = data1[["동진", "치영", "설아", "보림", "재윤"]]

In [56]:
data1.head()

   동진  치영  설아  보림  재윤
0   5   5   5   5   5
1   0   0   7   0   0
2   8   8   8   8   8
3   9   9   9   9   9
4   7   7   7   7   7

In [58]:
data1.to_excel('./num_miml.xlsx', index=False)